@import (css) "iconfont/iconfont.css";

.smart-popover {
    display: block;
    box-sizing: border-box;
    .smart-popover-ref {
        display: inline-block;
    }

    .smart-popover-wrapper {
        border: none;
        position: fixed;
        border-radius: 3px;
        color: #373e46;
        overflow-y: visible;
        z-index: 1200;
        opacity: 1;
        pointer-events: auto;
        background: #fff;
        box-shadow: 0 8px 16px -4px rgba(9, 45, 66, .25), 0 0 0 1px rgba(9, 45, 66, .08);
        .title {
            height: 38px;
            line-height: 38px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 38px 0 18px;

            .close {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                float: right;
                width: 38px;
                height: 38px;
                i.iconfont  {
                    font-size: 20px;
                }
            }
        }

        .content {
            border-top: 1px solid rgba(0, 0, 0, .1);
            padding: 18px;
        }

        .title {
        }
    }

    .popover-slideup {
        animation-name: slide-to-top;
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        animation-duration: 0.3s;

    }

    .popover-slidedown {
        animation-name: slide-to-down;
        animation-timing-function: ease-out;
        animation-duration: 100ms;
    }

    @keyframes slide-to-top {
        0% {
            transform: translateY(20px);
            overflow: hidden;
            pointer-events: none;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
        }
    }

    @keyframes slide-to-down {
        0% {
            transform: translateY(0px);
            overflow: hidden;
            pointer-events: none;
            opacity: 1;
        }
        100% {
            transform: translateY(20px);
            opacity: 0;
        }
    }
}